.navbar-nav .dropdown-menu.notify-drop {
    min-width: 290px;
    background-color: #fff;
    min-height: 290px;
    max-height: 360px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content {
    min-height: 280px;
    max-height: 345px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content > li {
    border-bottom: 2px solid #55c5ff;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content .notification-wrapper {
    padding: 10px;
    font-size: 14px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content .notification-wrapper .notification-action > i {
    color: #55c5ff;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content .notification-wrapper .notification-text .notification-alert {
    font-size: 12px;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5;
}

.navbar-nav .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb {
    background-color: #ccc;
}

.fa-exclamation-triangle {
    color: #f49600;
    font-size: 1.5rem;
}

.fa-trash {
    font-size: 1.2rem;
}

.navbar-nav .nav-link {
    cursor: pointer;
}
